.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.todoFragment{
  width: 90%;
  max-width: 900px;
  align-content: space-around;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: repeat(2,1fr);
  gap: 10px;
}
.TodoList {
  color:#FFF;
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column-start: 2;

}

